* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: url(/img/hospi.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  
  .form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: #fff;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    opacity: .6;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    padding: 0 0 20px;
    text-align: center;
    
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
  }
  
  .form-register a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 20px 0;
    font-size: 16px;
    cursor: pointer;
    
  }
  
  .form-register .botons[type="submit"]:hover {
    cursor: pointer;
    background: #2b5b62;
    color: #000;
  }